<kt-portlet>
	<kt-portlet-header [sticky]="true" [title]="getComponentTitle()" [class]="'kt-portlet__head--lg'" [viewLoading$]="loading$">
		<ng-container ktPortletTools>
			<a (click)="goBackWithoutId()" class="btn btn-secondary kt-margin-r-10" mat-raised-button matTooltip="Back to the products list">
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Back</span>
			</a>
			<a href="javascript:;" class="btn btn-secondary kt-margin-r-10" (click)="reset()" [disabled]="selectedTab !== 0" mat-raised-button matTooltip="Reset changes">
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Reset</span>
			</a>
			<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSumbit(false)" mat-raised-button matTooltip="Save & Continue">
				<span class="kt-hidden-mobile">Save</span>
			</a>

		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<mat-tab-group [(selectedIndex)]="selectedTab">
			<mat-tab label="Basic info">
				<ng-template matTabContent>
					<form class="kt-form kt-form--group-seperator-dashed">
						<!--[formGroup]="productForm" -->

						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
							Oh snap! Change a few things up and try submitting again.
						</kt-alert>

						<div class="kt-form__section kt-form__section--first">
							<div class="kt-form__group">
								<div class="row">

									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Sku">
											<mat-error>
												Sku is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Sku</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Select Main Category" [matAutocomplete]="MCats">
											<mat-autocomplete #MCats="matAutocomplete">
												<mat-option *ngFor="let Category of MCategories | async" [value]="Category.Id">
													{{ Category.Name }}
												</mat-option>
											</mat-autocomplete>
											<mat-error>
												Category is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please select
												<strong>Category</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div *ngIf="SelectedMCats" class="col-md-4 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Select Sub-Category" [matAutocomplete]="SCats">
											<mat-autocomplete #SCats="matAutocomplete">
												<mat-option *ngFor="let Category of sCategories | async" [value]="Category.Id">
													{{ Category.Name }}
												</mat-option>
											</mat-autocomplete>
											<mat-error>
												Category is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please select
												<strong>Category</strong>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="kt-form__group">
								<div class="row">
									<div class="col-md-8 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Product Name">
											<mat-error>
												Product Name is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please product enter
												<strong>Name</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<section class="example-section">
											<mat-checkbox class="example-margin">
												User Listing
											</mat-checkbox>
										</section>
									</div>
								</div>
							</div>
							<div class="kt-form__group">
								<div class="row">
									<div class="col-md-6 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<textarea matInput rows="7" placeholder="Enter Description"></textarea>
										</mat-form-field>
									</div>
									<div class="col-md-6 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<textarea matInput rows="7" placeholder="Enter Product Tags"></textarea>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>
					</form>
				</ng-template>
			</mat-tab>
			<mat-tab label="Package info">
				<ng-template matTabContent>
					<form class="kt-form kt-form--group-seperator-dashed">
						<!--[formGroup]="productForm" -->

						<kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
							Oh snap! Change a few things up and try submitting again.
						</kt-alert>

						<div class="kt-form__section kt-form__section--first">
							<div class="kt-form__group">
								<div class="row">
									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Pack Weight">
											<mat-error>
												Pack Weight is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Pack Weight</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Pack Height">
											<mat-error>
												Pack Height is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Pack Height</strong>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="kt-form__group">
								<div class="row">
									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Pack Lenght">
											<mat-error>
												Pack Lenght is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Pack Lenght</strong>
											</mat-hint>
										</mat-form-field>
									</div>
									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Pack Breadth">
											<mat-error>
												Pack Breadth is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Pack Breadth</strong>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="kt-form__group">
								<div class="row">
									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<section class="example-section pl-4">
											<mat-checkbox class="example-margin">
												Is Returnable
											</mat-checkbox>
										</section>
									</div>
									<div class="col-md-4 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<input matInput placeholder="Enter Return Days">
											<mat-error>
												Return Days is
												<strong>required</strong>
											</mat-error>
											<mat-hint align="start">Please enter
												<strong>Return Days</strong>
											</mat-hint>
										</mat-form-field>
									</div>
								</div>
							</div>
							<div class="kt-form__group">
								<div class="row">
									<div class="col-md-6 kt-margin-bottom-10-mobile">
										<mat-form-field class="mat-form-field-fluid">
											<textarea matInput rows="7" placeholder="Enter Policy"></textarea>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>
					</form>
				</ng-template>
			</mat-tab>

			<mat-tab label="Product variety">
				<ng-template matTabContent>
					<kt-portlet class="mb-0">
						<kt-portlet-header [class]="'kt-portlet__head--lg'">
							<ng-container ktPortletTitle>
								<h3 class="kt-portlet__head-title">
									<span> Product variety list</span>
								</h3>
							</ng-container>

							<ng-container ktPortletTools>
								<button (click)="createProduct()" mat-raised-button matTooltip="Create new Product" color="primary" type="button">
									<span>New Product variety</span>
								</button>

							</ng-container>
						</kt-portlet-header>
						<kt-portlet-body>

							<mat-accordion>
								<mat-expansion-panel>
									<mat-expansion-panel-header>
										<mat-panel-title>
											<span class="mr-2 kt-badge kt-badge--md" [ngStyle]="{'background-color':'#f00'}"></span>
											XL - (45)
										</mat-panel-title>
										<mat-panel-description>
											$ 999 - <s class="ml-2">$ 1500</s>
										</mat-panel-description>
									</mat-expansion-panel-header>

									<div class="kt-form__group">
										<div class="row">
											<div class="col-md-2 kt-margin-bottom-10-mobile">
												<mat-form-field class="example-full-width">
													<mat-label>Colour</mat-label>
													<mat-select>
														<mat-optgroup label="Your Colors">
															<mat-option *ngFor="let color of colors" [value]="color.name">
																<span class="mr-2 kt-badge kt-badge--md" [ngStyle]="{'background-color':color.name}"></span>
																{{color.name}}
															</mat-option>
														</mat-optgroup>

														<mat-optgroup label="Other Colors">
															<mat-option *ngFor="let color of colors" [value]="color.name">
																<span class="mr-2 kt-badge kt-badge--md" [ngStyle]="{'background-color':color.name}"></span>
																{{color.name}}
															</mat-option>
														</mat-optgroup>

													</mat-select>
												</mat-form-field>
											</div>
											<div class="col-md-2 kt-margin-bottom-10-mobile">
												<mat-form-field class="example-full-width">
													<mat-label>Sizes</mat-label>
													<mat-select>
														<mat-optgroup label="Your sizes">
															<mat-option *ngFor="let size of sizes" [value]="size.name">
																{{size.name}}
															</mat-option>
														</mat-optgroup>

														<mat-optgroup label="Other sizes">
															<mat-option *ngFor="let size of sizes" [value]="size.name">
																{{size.name}}
															</mat-option>
														</mat-optgroup>

													</mat-select>
												</mat-form-field>
											</div>
											<div class="col-md-2 kt-margin-bottom-10-mobile">
												<mat-form-field class="example-full-width">
													<mat-label>Quantity</mat-label>
													<input matInput type="number" class="example-right-align">
												</mat-form-field>
											</div>
											<div class="col-md-2 kt-margin-bottom-10-mobile">
												<mat-form-field class="example-full-width">
													<mat-label>Price</mat-label>
													<input matInput type="number" class="example-right-align">
													<span matPrefix>$&nbsp;</span>
													<span matSuffix>.00</span>
												</mat-form-field>
											</div>
											<div class="col-md-2 kt-margin-bottom-10-mobile">
												<mat-form-field class="example-full-width">
													<mat-label>Offer Price</mat-label>
													<input matInput type="number" class="example-right-align">
													<span matPrefix>$&nbsp;</span>
													<span matSuffix>.00</span>
												</mat-form-field>
                                            </div>
                                            <div class="col-md-2 kt-margin-bottom-10-mobile text-right">
                                                <button (click)="reset()" mat-raised-button matTooltip="Reset Product"  type="button" class="kt-margin-r-10">
                                                    <span>Reset</span>
                                                </button>
                                                <button (click)="saveSubPro()" mat-raised-button matTooltip="Save Product" color="primary" type="button">
                                                    <span>Save</span>
                                                </button>
                                            </div>
										</div>
                                    </div>
                                    <div class="kt-form__group">
                                        <div class="row">
                                            <div class="img_box_wrap" *ngFor="let pro_img of pro_imgs">
                                                <div class="img_box">
                                                    <img src="assets/media/products/{{pro_img.name}}" alt="">
                                                    <a href="" class="kt-badge kt-badge--danger rem_btn"><i class="la la-close"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <label class="img_input_box_wrap text-primary">
                                                <span><i class="la la-plus"></i> Add Images</span>
                                                <input type="file" name="Pimg" id="pImg" >
                                            </label>
                                        </div>
                                    </div>


								</mat-expansion-panel>
								
							</mat-accordion>

						</kt-portlet-body>
					</kt-portlet>

				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</kt-portlet-body>
</kt-portlet>
