
<kt-portlet>
	<kt-portlet-body>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width ">
					<mat-label>Search in table</mat-label>
                    <input matInput (keyup)="applyFilter_return($event)" placeholder="Ex. ium">
                    <mat-icon matSuffix>search</mat-icon>
				</mat-form-field>
            </div>
        </div>
		<div class="example-container ">
			<div class="example-loading-shade" *ngIf="isLoadingResults">
				<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
			</div>
			<div class="example-table-container">
				<mat-table #mattbl_return [dataSource]="dataSource_return" matSort>

					<!-- Column -->
					<ng-container matColumnDef="sku">
						<mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-id"> Sku </mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-column-id"> {{element.sku}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="productName">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.productName}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="qty">
						<mat-header-cell *matHeaderCellDef mat-sort-header> Qty </mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.qty}} </mat-cell>
					</ng-container>

					<!-- Column -->
					<ng-container matColumnDef="color">
						<mat-header-cell *matHeaderCellDef mat-sort-header class="mat-column-color"> color </mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-column-color"    >
                            <span class="kt-badge kt-badge--inline kt-badge--pill mr-2" matTooltip="{{element.color}}" [ngStyle]="{'background-color':element.color}"> </span>
                             {{element.color}} 
                        </mat-cell>
					</ng-container>
					
					<!-- Column -->
					<ng-container matColumnDef="size">
						<mat-header-cell *matHeaderCellDef mat-sort-header > size </mat-header-cell>
						<mat-cell *matCellDef="let element" > {{element.size}} </mat-cell>
					</ng-container>

					
                    
					<!-- Column -->
					<ng-container matColumnDef="price">
						<mat-header-cell *matHeaderCellDef mat-sort-header > Amount </mat-header-cell>
						<mat-cell *matCellDef="let element" > {{element.price | currency:'INR'}} </mat-cell>
                    </ng-container>
                    
					<!-- Column -->
					<ng-container matColumnDef="username">
						<mat-header-cell *matHeaderCellDef mat-sort-header > User Name </mat-header-cell>
						<mat-cell *matCellDef="let element" >{{element.username}} </mat-cell>
                    </ng-container>
                    
                   			
					<mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>

				<mat-paginator #mat_pag_return [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>